<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('templates/file') %>
</head>
<body>
    <%- include('templates/head') %>
    <div class="container-fluid">
        <div id="content" class="row">
            <%- include('templates/menu',{ name : '职位管理' }) %>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <%- include('templates/breadcrumb',{ name : '职位管理' }) %>
            </main>
        </div>
    </div>
</body>
</html>